#root {
  max-width: 100%;
  /* Start with 100% for mobile */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.app-page {
  padding-top: 70px;
  width: 100%;
}

.card-container {
  display: flex;
  flex-flow: column wrap;
  /* Stack cards vertically for mobile */
  align-items: center;
  justify-content: center;
  /* Adjust for mobile */
}

.card {
  color: #000;
  background-color: #fff;
  padding-bottom: 20px;
  box-shadow: 0 15px 25px #817c7c33;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  text-align: center;
  margin: 10px;
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* transition: opacity 0.2s ease; */
}

.card:hover .overlay {
  opacity: 1;
}

.card .overlay .category {
  position: absolute;
  top: 20px;
  left: 20px;
}

.card .overlay .likeCount {
  position: absolute;
  top: 10px;
  right: 20px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #6DAA7F;
}

.post-form__delete-button {
  background-color: #014421;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.post-form__delete-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



/* Media Query for Tablets and Desktops */
@media (min-width: 768px) {
  #root {
    max-width: 1280px;
    /* Set a max-width for larger screens */
  }

  .card-container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}